@page "/"
@using ChatApplication.Domain.Entities;
@inject SessionDataContainer SessionDataContainer

<PageTitle>トップページ</PageTitle>

<h1>トップページ</h1>

@if (SessionDataContainer.LoginedUser == null)
{
    <Login />
    <a class="btn btn-secondary" href="/SignUp">ユーザ登録</a>
}
else
{
    <p>ユーザID：@SessionDataContainer.LoginedUser.UserId</p>
    <p>ユーザ名：@SessionDataContainer.LoginedUser.UserName</p>
    <button @onclick="OnClickLogoutButton">ログアウト</button>
}

@code
{
    private void OnClickLogoutButton()
    {
        SessionDataContainer.LoginedUser = null;
        StateHasChanged();
    }
}