name: Deploy to gitHub Pages
on:
  push:
    branches:
    - develop
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3.0.3
      with:
        # Optional SDK version(s) to use. If not provided, will install global.json version when available. Examples: 2.2.104, 3.1, 3.1.x, 3.x
        dotnet-version: 6.0
  
    - name: Publish .NET Core Project
      run: dotnet publish ChatApplication.sln -c Release -o release --nologo

    # changes the base-tag in index.html from '/' to 'BlazorChatApplication' to match GitHub Pages repository subdirectory
    - name: Change base-tag in index.html from / to BlazorChatApplication
      run: sed -i 's/<base href="\/" \/>/<base href="\/BlazorChatApplication\/" \/>/g' release/wwwroot/index.html
      run: sed -i 's/<div id="app">Loading...<\/div>/<div id="app">Loading...<\/div><script src="spa-github-pages.js">/g' release/wwwroot/index.html
    
    # copy index.html to 404.html to serve the same file when a file is not found
    - name: copy index.html to 404.html
      run: cp release/wwwroot/index.html release/wwwroot/404.html

    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll
      
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: release/gh-pages
        FOLDER: release/wwwroot
